<app-nav-bar></app-nav-bar>

<form [formGroup]="form">
    <h2>Add Players</h2>
    <div formArrayName="names">
        <div *ngFor="let name of names.controls; index as i">
            <div class="input-group">
                <input [formControlName]="i" placeholder="Enter name">
                <button class="delete-button" (click)="removeName(i)">X</button>
            </div>
        </div>
    </div>
    <button (click)="addName()">Add Name</button>
</form>

<div>
    <h2>Select point system</h2>
    <form [formGroup]="form">
        <select formControlName="selectedPointSystem">
            <option *ngFor="let strategy of scoreStrategies" [value]="strategy">{{strategy}}</option>
        </select>
    </form>
</div>

<div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <button type="submit">Start Game</button>
    </form>
</div>