<table cdk-table [dataSource]="dataSource">
    <!-- Name Column -->
    <ng-container cdkColumnDef="name">
      <th cdk-header-cell *cdkHeaderCellDef> Name </th>
      <td cdk-cell *cdkCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Score Column -->
    <ng-container cdkColumnDef="score">
        <th cdk-header-cell *cdkHeaderCellDef> Score </th>
        <td cdk-cell *cdkCellDef="let element"> {{element.score}} </td>
      </ng-container>

    <tr cdk-header-row *cdkHeaderRowDef="displayedColumns"></tr>
    <tr cdk-row *cdkRowDef="let row; columns: displayedColumns;"></tr>
</table>
<button (click)="addPlay()">Add Play</button>

<form [formGroup]="form">
    <label for="amountBet">Bet</label>
    <select formControlName="amountBet">
        <option *ngFor="let number of AmountBet" [value]="number">{{number}}</option>
    </select>
    <label for="betType">Type</label>
    <select formControlName="betType">
        <option *ngFor="let enum of Bets" [value]="enum">{{enum}}</option>
    </select>
    <label for="amountWon">Won</label>
    <select formControlName="amountWon">
        <option *ngFor="let number of AmountWon" [value]="number">{{number}}</option>
    </select>
    <select formControlName="player1">
        <option *ngFor="let name of names" [value]="name">{{name}}</option>
    </select>
    <select formControlName="player2">
        <option *ngFor="let name of names" [value]="name">{{name}}</option>
    </select>
    
</form>
