<table cdk-table [dataSource]="dataSource">
    <!-- Name Column -->
    <ng-container cdkColumnDef="name">
      <th cdk-header-cell *cdkHeaderCellDef> Name </th>
      <td cdk-cell *cdkCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Score Column -->
    <ng-container cdkColumnDef="score">
        <th cdk-header-cell *cdkHeaderCellDef> Score </th>
        <td cdk-cell *cdkCellDef="let element"> {{element.score}} </td>
      </ng-container>

    <tr cdk-header-row *cdkHeaderRowDef="displayedColumns"></tr>
    <tr cdk-row *cdkRowDef="let row; columns: displayedColumns;"></tr>
</table>
<button (click)="addPlay()">Add Play</button>

<form [formGroup]="form">
    <select formControlName="betAmount">
        <option value=7>7</option>
        <option value=8>8</option>
        <option value=9>9</option>
        <option value=10>10</option>
        <option value=11>11</option>
        <option value=12>12</option>
        <option value=13>13</option>
    </select>
    <select formControlName="betType">
        <option *ngFor="let enum of Bets" [value]="enum">{{enum}}</option>
    </select>
</form>
